<header class="header fixed top-0 left-0 w-full shadow-md z-50">
  <div class="container mx-auto flex items-center px-2 sm:px-4">
    <a [routerLink]="'/'" class="text-black text-xl sm:text-2xl font-bold hover:text-gray-800 mr-4 sm:mr-8">
      {{ title }}
    </a>
    <nav class="ml-auto">
      <ul class="flex space-x-2 sm:space-x-4">
        @for (link of links; track $index) {
          <li>
            <a [routerLink]="link.path" class="header-link px-2 sm:px-3">
              {{ link.label }}
            </a>
          </li>
        }
      </ul>
    </nav>
  </div>
</header>
