.elevated-header {
  color: #000000;
  padding: 20px 0;
  width: 90%;
  background-color: #e4e4e4;
  border-radius: 5em;
  margin-top: 1em;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.elevated-header:hover {
  background-color: #d1d1d1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}

a {
  display: inline-block;
}
