@if (table) {
  <div class="flex space-x-4 p-4">
    <!-- Colonne de gauche - Liste des champs -->
    <div class="w-1/3 max-w-xs bg-gray-900 shadow-2xl rounded-xl p-6 transition-all duration-300 border border-gray-800 hover:border-gray-700">
      <h2 class="text-xl font-bold text-white mb-4">{{ table.name }}</h2>
      <ul class="mt-2 space-y-2">
        @for (column of table.columns; track $index) {
          <li class="text-gray-300 text-sm border-b border-gray-800 pb-2 hover:bg-gray-800 px-2 py-1 rounded-md transition-colors duration-200 cursor-pointer group">
            <span class="group-hover:text-red-500">{{ column }}</span>
          </li>
        }
      </ul>
    </div>

    <!-- Colonne de droite - Données -->
    <div class="flex-1 bg-gray-900 shadow-2xl rounded-xl p-6 h-[600px] overflow-auto transition-all duration-300 border border-gray-800">
      <app-table-card-data
        [tableName]="table.name"
        [data]="table.data || []"
      ></app-table-card-data>
    </div>
  </div>
}
