:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-container {
  border: 1px solid #ff0000;
  margin: 1em;
  flex: 1;
  padding: 1em;
}
