.footer {
  background: linear-gradient(to right, #f8f9fa, #e4e4e4);
  height: 4rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: #333;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 6px;
}
