<div class="w-full flex justify-center items-center text-center text-lg font-semibold text-gray-900 mb-6">
  <button
    (click)="goToPreviousPage()"
    [disabled]="currentPage === 1"
    class="px-3 py-2 bg-gray-200 text-gray-800 rounded-l-lg mr-2 flex items-center
      disabled:opacity-50 disabled:cursor-not-allowed"
  >
    <p><</p>
  </button>

  <div class="flex flex-wrap justify-center gap-2">
    @for (table of currentTables; track $index) {
      <app-table-card [name]="table.name" class="mx-2 cursor-pointer" (click)="onTableClick(table)"/>
    }
  </div>

  <button
    (click)="goToNextPage()"
    [disabled]="currentPage === totalPages"
    class="px-3 py-2 bg-gray-200 text-gray-800 rounded-r-lg ml-2 flex items-center
      disabled:opacity-50 disabled:cursor-not-allowed"
  >
    <p>></p>
  </button>
</div>
