.chart-container {
  color: #ffffff;
  background: #292929;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.chart-container h2 {
  margin-top: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.chart-container canvas {
  flex-grow: 1;
  width: 100% !important;
  height: 100% !important;
}
